site_name: SciREX

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    scheme: slate   # Enforces dark mode
    primary: teal
    accent: light-blue
  logo: assets/image.png
  favicon: assets/favicon.ico


  # Add a custom vibrant logo here

exclude_docs: |
  api/experimental/**

nav:
  - Docs: index.md
  - API:
      - Training: api/training/index.md
      - Diffusion: api/diffusion/index.md
      - Transformers: api/transformers/index.md
      - Data: api/data/index.md
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
 # - pymdownx.emoji:
 #     emoji_index: !!python/name:materialx.emoji.twemoji
 #     emoji_generator: !!python/name:materialx.emoji.to_svg


plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: ["."]
          options:
            show_source: true

  - search:
      lang: en
      #separator: "[/s/-]+"

extra_css:
  - assets/custom.css  # Custom vibrant colors

# extra_picture:
#   - assets/binary-bg.png

extra_javascript:
  - assets/custom.js  # Advanced interactivity like smooth scrolling or dynamic effects
